################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/big_data/CopilotIndices/17.14.698.11175/CodeChunks.db-shm
/.vs/big_data/CopilotIndices/17.14.698.11175/CodeChunks.db
